/* Main Stylesheet */
/*
 * Base structure
 */
/* colors */
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style: italic; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/* RETINA */
h1 {
  background: none;
  font-weight: 700;
  font-size: 20px;
  color: #959494; }

h2 {
  background: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff; }

h3 {
  color: #c7c7c7;
  letter-spacing: 0.1em;
  font-size: 15px;
  margin-bottom: 10px; }

h4 {
  margin: 5px;
  color: #218fd4;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 12px; }

h5 {
  color: #787878;
  font-size: 12px;
  font-family: Ubuntu;
  font-weight: bold;
  font-style: normal; }

h6 {
  color: #787878;
  font-size: 12px;
  font-family: Ubuntu;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0; }

@font-face {
  font-family: 'NevisBold';
  src: url("../fonts/nevis/nevis.eot");
  src: url("../fonts/nevis/nevis.eot") format("embedded-opentype"), url("../fonts/nevis/nevis.woff") format("woff"), url("../fonts/nevis/nevis.ttf") format("truetype"), url("../fonts/nevis/nevis.svg#NevisBold") format("svg");
  font-weight: normal;
  font-style: normal; }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

.blurred {
  -webkit-filter: blur(3px); }

.prevent_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

/*
 * ELEMENT STYLING
 */
.form_label {
  margin: 0;
  padding: 0; }

.button_default, button.cancel, button.confirm, button.grey, button.blue, button.red, button.delete {
  border: none;
  margin: 5px;
  font-variant: normal;
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  letter-spacing: 0.2em;
  outline: none; }

button.cancel {
  text-transform: uppercase;
  background: #d44141; }
  button.cancel:hover {
    background: #ff6868; }

button.confirm {
  background: #218fd4;
  border-bottom: 3px solid #ccc;
  border-right: 3px solid #ccc;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s; }
  button.confirm:hover {
    border-bottom: 3px solid #ffff00;
    border-right: 3px solid #ffff00;
    color: #ffff00; }

button.light {
  background-color: #fff;
  padding: 5px 5px;
  border: none;
  color: #787878; }
  button.light:hover {
    background-color: #fafdff; }

button.grey {
  background: #bebebe; }
  button.grey:hover {
    background: #acacac; }

button.blue {
  color: #fff;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: bold;
  background: #218fd4;
  padding: 12px 15px; }
  button.blue:hover {
    background: #64addb; }

button.red {
  color: #fff;
  margin: 15px;
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 500;
  background: #d44141; }
  button.red:hover {
    background: #ff6868; }

button.delete {
  border: 1px solid #b6b6b6;
  color: #969696;
  background: transparent;
  text-align: center; }
  button.delete:hover {
    background: #d44141;
    color: #fff;
    border-color: #d44141; }

.input_default, input.number {
  color: #949595;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-variant: normal;
  text-transform: none; }

input.number {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  outline: 0;
  width: 60px;
  height: 30px;
  font-size: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s; }
  input.number:hover {
    border-bottom: 2px solid #218fd4 !important; }
  input.number:focus {
    border-bottom: 2px solid #218fd4 !important; }

textarea {
  resize: none;
  padding: 5px;
  color: #787878;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: normal;
  font-variant: normal; }

/* The switch - the box around the toggle */
.switch {
  margin: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* Hide default HTML checkbox */ }
  .switch input {
    display: none; }

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }
  .toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }

input:checked + .toggle {
  background-color: #218fd4; }

input:focus + .toggle {
  box-shadow: 0 0 1px #218fd4; }

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

.toggle.round {
  border-radius: 34px; }

.toggle.round:before {
  border-radius: 50%; }

/* colors */
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style: italic; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/* RETINA */
/* base css */
html {
  background: none;
  overflow-y: hidden; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #656c70;
  background-image: url("../img/settings_bg.png");
  background-size: 125px 125px;
  font-family: 'Ubuntu', sans-serif;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  overflow: hidden; }

.main {
  padding: 0;
  overflow-y: scroll;
  height: 100vh; }
  .main .page-header {
    text-align: left;
    color: #787878;
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background: #fff;
    padding-left: 5%;
    padding-top: 13px;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0; }

/* colors */
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style: italic; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/* RETINA */
/* colors */
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style: italic; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/* RETINA */
.row {
  height: 100%; }

.card {
  box-shadow: none;
  border-radius: 0;
  border: 0;
  margin-top: 30px; }
  .card .card-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c1cacf;
    background-image: none;
    color: #636363;
    border: 0;
    font-size: 11px;
    border-radius: 0 !important;
    box-shadow: none; }
    .card .card-header .card-title a {
      color: #636363;
      font-size: 11px; }

.popover {
  border-radius: 0; }
  .popover button {
    border: 1px solid #ababab;
    padding: 5px 10px;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 5px;
    font-variant: normal;
    text-transform: uppercase;
    color: #787878;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 12px;
    margin-right: 10px; }
    .popover button:hover {
      background: #ababab;
      color: #fff; }

.form-inline .datepicker {
  border-radius: 0;
  font-weight: 400;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff; }
  .form-inline .datepicker table th.datepicker-switch {
    color: #b6b6b6; }
  .form-inline .datepicker table td {
    text-shadow: none !important;
    border-radius: 0; }
    .form-inline .datepicker table td.today {
      background: #9f9d09 !important;
      color: #fff !important; }
    .form-inline .datepicker table td.selected {
      background: #848484 !important; }
    .form-inline .datepicker table td.range {
      background: #dadada !important; }
    .form-inline .datepicker table td.active {
      background: #d44141 !important; }
    .form-inline .datepicker table td.old, .form-inline .datepicker table td.new {
      color: #b9b9b9 !important; }
    .form-inline .datepicker table td:hover {
      color: #939393; }

.datepicker {
  border-radius: 0;
  font-weight: 400;
  background: #218fd4;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border: none;
  padding: 12px;
  z-index: 999999999 !important; }
  .datepicker table th.datepicker-switch {
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .datepicker table th.datepicker-switch:hover {
      background: #6DAFD9 !important; }
  .datepicker table th.prev, .datepicker table th.next {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .datepicker table th.prev:hover, .datepicker table th.next:hover {
      background: #6DAFD9 !important; }
  .datepicker table th.dow {
    font-size: 12px;
    color: #6DAFD9; }
  .datepicker table td {
    text-shadow: none !important;
    border-radius: 0;
    padding: 8px;
    font-size: 12px;
    font-weight: 500; }
    .datepicker table td.today {
      background: #206D9E !important;
      color: #fff !important; }
    .datepicker table td.selected {
      background: #848484 !important; }
    .datepicker table td.range {
      background: #dadada !important; }
    .datepicker table td.active {
      background: transparent !important;
      border-bottom: 3px solid #294251 !important; }
    .datepicker table td.old, .datepicker table td.new {
      color: #6DAFD9 !important; }
      .datepicker table td.old:hover, .datepicker table td.new:hover {
        color: #fff !important; }
    .datepicker table td:hover {
      color: #fff;
      background: #6DAFD9 !important; }

.datepicker-dropdown::after {
  border-bottom-color: #218fd4; }

.input-daterange input:first-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.input-daterange input:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.input-daterange input.form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important; }

.bootstrap-select {
  font-family: Ubuntu;
  font-variant: normal;
  text-transform: none;
  color: #949595; }
  .bootstrap-select button {
    border-radius: 0;
    height: 40px;
    color: #949595; }
    .bootstrap-select button .caret {
      display: none !important; }
  .bootstrap-select .dropdown-menu {
    border-radius: 0; }
    .bootstrap-select .dropdown-menu li.active a {
      color: #fff; }
      .bootstrap-select .dropdown-menu li.active a:hover {
        background-color: #218fd4 !important; }
    .bootstrap-select .dropdown-menu a {
      color: #949595; }

#select2-drop {
  z-index: 999999999; }

.chosen-container {
  color: #949595;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-variant: normal;
  text-transform: none;
  font-weight: 400;
  border-radius: 0; }
  .chosen-container-active.chosen-with-drop .chosen-single {
    background: #fff;
    background-image: none !important;
    box-shadow: none; }
  .chosen-container .chosen-results {
    max-height: 175px !important; }
    .chosen-container .chosen-results li.highlighted {
      background: #218fd4 !important;
      display: none; }
  .chosen-container a.chosen-single {
    background: #fff;
    background-image: none;
    border-radius: 0;
    height: 40px;
    box-shadow: none;
    padding: 8px 0 0 8px;
    color: #949595;
    letter-spacing: 0.1em;
    font-size: 12px;
    font-variant: normal;
    text-transform: none;
    font-weight: 400;
    border-color: #fff; }
    .chosen-container a.chosen-single b {
      margin-top: 8px; }
  .chosen-container .chosen-drop {
    border-radius: 0 !important;
    box-shadow: none !important; }
  .chosen-container ul.chosen-choices {
    border: 1px solid;
    border-color: #fff;
    box-shadow: none;
    height: 40px !important; }
    .chosen-container ul.chosen-choices li.search-field {
      height: 38px;
      padding-top: 11px !important; }
      .chosen-container ul.chosen-choices li.search-field input.default {
        width: 100% !important;
        color: #787878 !important; }
    .chosen-container ul.chosen-choices li.search-choice {
      box-shadow: none;
      background-image: none;
      background: transparent;
      border-radius: 0;
      color: #949595; }
  .chosen-container-multi ul.chosen-choices {
    background-image: none; }
  .chosen-container-active ul.chosen-choices {
    border: 1px solid;
    border-color: #aaa;
    height: auto !important;
    box-shadow: none !important; }

.slider.slider-horizontal {
  margin: 5px;
  width: 90% !important; }
  .slider.slider-horizontal .slider-selection {
    background: #ffff00; }

.slider-handle {
  background: #218fd4; }

#slider_wrapper .nav {
  display: block; }

.nav-sidebar li {
  width: 100%; }

.nav-link {
  background: transparent !important;
  border-color: transparent !important; }

.nav-link.active {
  border-bottom: 3px solid #218fd4 !important;
  color: #6B6B6B !important; }

.nav-link.active:hover {
  color: #787878 !important;
  border-bottom: 3px solid #3aa5e9 !important; }

#modal_inout {
  width: 100%;
  margin-top: 0;
  text-align: center; }
  #modal_inout select {
    height: 30px;
    background: none;
    border: 1px solid #bebebe; }
  #modal_inout input {
    height: 40px;
    background: none;
    border: 1px solid #bebebe;
    color: #787878;
    margin-bottom: 10px;
    padding: 14px 15px;
    letter-spacing: 0.2em;
    font-size: 14px; }
  #modal_inout input:focus {
    border: 1px solid #bebebe; }
  #modal_inout input.submit {
    padding: 12px 15px;
    float: right;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-variant: small-caps; }
  #modal_inout input.submit:hover {
    background: #bebebe;
    color: #fff; }
  #modal_inout input.submit:active {
    background: #787878;
    color: #fff; }
  #modal_inout .submit_cont {
    width: 100%;
    height: 50px;
    float: right; }
  #modal_inout .options_cont {
    width: 100%;
    height: 50px; }
  #modal_inout .left_notes {
    float: right;
    margin-bottom: 10px; }
    #modal_inout .left_notes input {
      text-transform: none;
      font-variant: normal;
      font-family: Ubuntu; }
  #modal_inout .left_inout {
    float: left;
    margin-bottom: 10px; }

#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999999;
  display: none; }
  #modalOverlay .modalBox {
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    display: none; }
    #modalOverlay .modalBox .m_header {
      width: 100%;
      height: auto;
      background: #fff;
      padding: 10px 15px;
      border-bottom: 1px solid #dddddd;
      color: #787878;
      text-align: left; }
    #modalOverlay .modalBox .m_content {
      width: 100%;
      max-height: 350px;
      overflow: visible;
      background-color: #f2f8fc;
      background-image: url("../img/pat.png");
      padding: 15px 15px; }
      #modalOverlay .modalBox .m_content .row {
        margin-left: 0;
        margin-right: 0; }
      #modalOverlay .modalBox .m_content h2 {
        color: #787878;
        margin-top: 0;
        line-height: 17px; }
      #modalOverlay .modalBox .m_content textarea {
        border: none;
        height: 80px; }
    #modalOverlay .modalBox .input_div {
      float: none;
      width: 100%; }
    #modalOverlay .modalBox .deleteButton {
      position: absolute;
      top: 20px;
      right: 10px; }
    #modalOverlay .modalBox table {
      border: 1px solid #dddddd;
      margin-bottom: 20px; }
      #modalOverlay .modalBox table tr:last-child {
        border: none; }
    #modalOverlay .modalBox table:last-child {
      margin-bottom: 0; }

.overflowHidden {
  overflow: hidden !important; }
