{% load static %}

{# Formatting Info #}
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="description" content="">
<meta name="author" content="">
<link href="{%static 'img/favicon.ico' %}" rel="shortcut icon">
<link href="{%static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

{# Remote Stylesheets #}
<link href="//fonts.googleapis.com/css?family=Pathway+Gothic+One|Oswald:400,300" rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300italic" rel='stylesheet' type='text/css'>

{# Scripts #}
<script type="text/javascript" src="{%static 'dist/dog.bundle.js' %}"></script>
<script type="text/javascript">
        $(document).ready(() =>  {
            'use strict';
            // Initialize the jQuery File Upload widget
            // For a complete option reference go to
            // https://github.com/blueimp/jQuery-File-Upload
            $('#fileupload').fileupload({
                // this formData is neccessary to pass the csrf and pass uid to django
                formData: [
                    { name: "uid", value: "{{ uid }}"},
                    { name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"}
                ],
                maxFileSize: {{ maxfilesize }},
                minFileSize: {{ minfilesize }},
                sequentialUploads: true
            });
            // Load existing files
            $.getJSON($('#fileupload form').prop('action'), function (files) {
                var fu = $('#fileupload').data('fileupload');
                fu._adjustMaxNumberOfFiles(-files.length);
                fu._renderDownload(files)
                        .appendTo($('#fileupload .files'))
                        .fadeIn(function () {
                            // Fix for IE7 and lower:
                            $(this).show();
                        });
            });
            // Open download dialogs via iframes,
            // to prevent aborting current uploads
            $('#fileupload .files a:not([target^=_blank])').live('click', function (e) {
                e.preventDefault();
                $('<iframe style="display:none;"></iframe>')
                        .prop('src', this.href)
                        .appendTo('body');
            });
        });
    </script>

{# Stylesheets #}
<link rel="stylesheet" href="{%static 'dist/dog.min.css' %}">
<link rel="stylesheet" href="{%static 'css/style.css' %}">